
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.brand {
  background-color: #43281c;
  color: #fbf2c0;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal
}

.brand-logo {
  height: 30px;
  position: relative;
  right: 5px;
}

.page {
  display: flex;
  width: 100%;
  margin: 0 auto;
  grid-template-areas:
    "invoice"
    "payment";
  grid-template-columns: 1fr 1fr;;
}

h2 {
  font-size: 15px;
  font-weight: 300;
  color: #43281c;
  display: flex;
  width: 100%;
}

.invoice {
  padding: 20px;
  background-color: burlywood;
  margin: 20px;
  border-radius: 10px;
  justify-content: left;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.items {
  padding: 0;
}

.item {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  font-size: 15px;
  display: grid;
  row-gap: 10px;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
    'quantity title price'
    'quantity options price';
  border-bottom: 3px solid #fbf2c0;
}

/* set the last bottom border to nothing */
.item:last-child {
 border-bottom: 0
}

.name {
  font-weight: 700;
  color: black;
  grid-area: title;
}

.quantity {
  color: dimgray;
  grid-area: quantity;
}

.extra {
  grid-area: options;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  font-size: 12px;
  color:#43281c
}


/* Name and Payment Section */
.payment-info {
  width: 50%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.payment {
  padding: 20px;
  background-color: burlywood;
  margin: 20px;
  border-radius: 10px;
  justify-content: left;
  display: flex;
  flex-direction: column;
}

.name-group {
  position: relative;
  display: inline-block;
  margin: 5px;
}

.name-input {
  border-color: #43281c;
  padding: 8px;
  border-radius: 20px;
  background-color: burlywood;
  width: 100%;
}

.input-label {
  background-color: burlywood;
  color: #43281c;
  font-size: 11px;
  position: absolute;
  left: 20px;
  top: -5px;
  padding: 0 3px;
}

#ccv-number {
  width: 50%;
}



/* Totals Section */
.label-subtotal {
  grid-area: 'label-subtotal';
  display: flex;
  justify-content: center;
}

.label-tax {
  grid-area: 'label-tax';
  display: flex;
  justify-content: center;
}

.label-total {
  grid-area: 'label-total';
  display: flex;
  justify-content: center;
}

.subtotal {
  grid-area: 'subtotal';
  display: flex;
  justify-content: center;
}

.tax {
  grid-area: 'tax';
  display: flex;
  justify-content: center;
}

.total {
  grid-area: 'total';
  display: flex;
  justify-content: center;
}

.totals-layout {
  display: grid;
  row-gap: 10px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'label-subtotal subtotal'
    'label-tax      tax'
    'label-total    total';
  border-bottom: 3px solid #fbf2c0;
}


