





* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.brand {
  background-color: #43281c;
  color: #fbf2c0;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal
}

.brand-logo {
  height: 30px;
  position: relative;
  right: 5px;
}

.page {
  display: flex;
  width: 100%;
  margin: 0 auto;
  grid-template-areas:
    "invoice"
    "payment";
  grid-template-columns: 1fr 1fr;;
}

h2 {
  font-size: 15px;
  font-weight: 300;
  color: #43281c;
  display: flex;
  width: 100%;
}

.invoice {
  padding: 20px;
  background-color: burlywood;
  margin: 20px;
  border-radius: 10px;
  justify-content: left;
  display: flex;
  flex-direction: column;
}

.items {
  padding: 0;
}

.item {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  font-size: 15px;
  display: grid;
  row-gap: 10px;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
    'quantity title price'
    'quantity options price';
  border-bottom: 3px solid #fbf2c0;
}

.item:last-child {




  
 border-bottom: 0
}

/* Font Styling */
.name {
  font-weight: 700;
  color: black;
  grid-area: title;
}

.quantity {
  color: dimgray;
  grid-area: quantity;
}

.extra {
  grid-area: options;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  font-size: 12px;
  color:#43281c
}